#!/bin/bash
export KUBECONFIG={{ workspace_directory.base_path }}/{{ cluster.name }}/config/auth/kubeconfig
/usr/local/bin/oc apply -f {{ workspace_directory.base_path }}/{{ cluster.name }}/lvm_storage.yaml
echo "Waiting for deployment of the lvms-operator..."
oc wait --for=condition=Available deployment/openshift-gitops-operator-controller-manager -n operator-storage --timeout=60s
/usr/local/bin/oc apply -f {{ workspace_directory.base_path }}/{{ cluster.name }}/lvm_cluster.yaml