#!/bin/bash
export KUBECONFIG={{ workspace_directory.base_path }}/{{ cluster.name }}/config/auth/kubeconfig
until /usr/local/bin/oc apply -f {{ workspace_directory.base_path }}/{{ cluster.name }}/lvm_storage.yaml 2>/dev/null
  do
    echo "again..."
    sleep 5
  done
echo "Waiting for deployment of the lvms-operator CRD..."
until /usr/local/bin/oc get crd/lvmclusters.lvm.topolvm.io
  do
    sleep 5
  done
/usr/local/bin/oc apply -f {{ workspace_directory.base_path }}/{{ cluster.name }}/lvm_cluster.yaml
echo "Waiting for deployment of the topolvm-controller..."
until /usr/local/bin/oc get deployment/topolvm-controller -n operator-storage
  do
    sleep 5
  done