#!/bin/bash
export KUBECONFIG={{ workspace_directory.base_path }}/{{ cluster.name }}/config/auth/kubeconfig
until /usr/local/bin/oc apply -f {{ workspace_directory.base_path }}/{{ cluster.name }}/lvm_storage.yaml 2>/dev/null
  do
    echo "again..."
    sleep 5
  done
echo "Waiting for deployment of the lvms-operator..."
/usr/local/bin/oc wait --for=condition=established crd/lvmclusters.lvm.topolvm.io --timeout=60s
/usr/local/bin/oc apply -f {{ workspace_directory.base_path }}/{{ cluster.name }}/lvm_cluster.yaml
echo "Waiting for deployment of the topolvm-controller..."
oc wait --for=condition=Available deployment/topolvm-controller -n operator-storage --timeout=60s